/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: #141caf;
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Lama Sans", sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: 0.938rem;
  --tiny-font-size: 0.625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  max-width: 100%;
}
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit; /* التأكد من أن الهوامش والحشوات لا تؤثر على العرض الكلي */
}

@media only screen and (max-width: 550px) {
  body,
  html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  * {
    box-sizing: inherit;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.section {
  padding: 6.5rem 0.2rem 2rem 0 !important;

}


.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  /* height: 100vh; */
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 1200px;
}

/*=============== HEADER ===============*/
.language {
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: #ffffff;
  color:black;
}

.language-dropdown {
  padding: 10px 10px;
}

.language-btn {
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*=============== NAV ===============*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  padding: 0 10px;
}

.nav__img {
  width: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: var(--title-color);
  font-weight: 600;
}
.logo {
  text-align: center;
}

.logo img {
  width: 80px; /* Adjust the logo size for better responsiveness */
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    display: grid;
    align-content: center;
    border-radius: 100rem 100rem;
    transition: 0.4s;
  }
  .logo img {
    width: 80px; /* Adjust the logo size for better responsiveness */
    /* margin-top: 20px; */
    width: 60px;
  }
}

.nav__list,
.nav__link {
  display: flex;
  margin: 0 15px;
}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: var(--title-color);
  font-weight: 600;
}

.nav__list {
  justify-content: center;
}

.nav__name {
  font-size: var(--tiny-font-size);
  /* display: none;*/ /* Minimalist design, hidden labels */
}

.nav__icon {
  font-size: 21px;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.3s;
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.info_natification {
  display: block;
}
.notification-category-button {
  margin: 0 38px;
}
.icons {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
.triangle {
  display: none; 
  position: absolute;
  bottom: -10px; 
  left: 14%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #00000038; 
}

.icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px 0 0;
  border-radius: 50%;
}

.Profile {
  width: 30px;
  height: 30px;
}

.notification {
  display: none;
  position: absolute;
  top: 42px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.notification-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.notification_title_info {
  padding: 0px 0 15px;
}
.notification-text {
  /* color:black; */
}
.notification-category {
  margin: 5px 0 10px 0;
  font-weight: bold;
  font-size: small;
  color: #0000008f;
}

.notification-button {
  padding: 10px 15px;
  background-color: #141caf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notification-button:hover {
  background-color: #0056b3;
}

.notification-icon {
  color: #00000075;
  font-size: smaller;
  font-size: 20px;
  cursor: pointer;
}

/* pop_profile */
.pop-slider {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.popup_profile {
  width: 100%;
  height: 100%;
}

.profile_content {
  display: none;

  right: 15%;
  top: 100%;
  z-index: 999;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 270px;
}

.profile-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.profile-info {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 0;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
}

.profile-name {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}

.profile-email {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}
.btn-edit {
  display: flex;
  justify-content: center;
}
.edit-profile-button {
  display: inline-block;
  padding: 9px 5px;
  background-color: #fafafa;
  color: #141caf;
  border: #141caf 1px solid;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
  margin-bottom: 15px;
}

.edit-profile-button:hover {
  background-color: #141caf;
  color: white;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

.profile-image-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00000023;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* margin-right: 10px; */
  /* margin-top: 15px; */
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.balance-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  /* margin-top: 15px; */
}

.balance-text {
  font-size: 15px;
  color: #333;
}

.balance-amount {
  font-size: 18px;
  font-weight: bold;
  color: #141caf;
}
.icon {
  font-size: 13px;
  margin-left: 3px;
  color: black;
}
.current {
  font-size: 13px;
  cursor: pointer;
}

.language-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.language-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.language-dropdown:hover .dropdown-content {
  display: block;
}

.flag {
  width: 20px;
  height: 15px;
}

/* header profile and PopUp */
.popup_profile {
  width: 100%;
  height: 100%;
}

.profile_content {
  display: none;

  right: 15%;
  top: 100%;
  z-index: 999;
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 270px;
}

.profile-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.profile-info {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 0;
  gap: 1rem;
  position: relative;
  cursor: pointer;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
}

.profile-name {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}

.profile-email {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.btn-edit {
  display: flex;
  justify-content: center;
}

.edit-profile-button {
  display: inline-block;
  padding: 9px 5px;
  background-color: #fafafa;
  color: #141caf;
  border: #141caf 1px solid;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-weight: 500;
  margin-bottom: 15px;
}

.edit-profile-button:hover {
  background-color: #141caf;
  color: white;
}

.info_2{
  display: flex;
}


.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

.profile-image-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #00000023;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.balance-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.balance-text {
  font-size: 15px;
  color: #333;
}

.balance-amount {
  font-size: 18px;
  font-weight: bold;
  color: #141caf;
}

.icon {
  font-size: 13px;
  margin-left: 3px;
  color: black;
}

.current {
  font-size: 13px;
  cursor: pointer;
}

/*=============== MEDIA QUERIES ===============*/

@media screen and (max-width: 320px) {
  .nav__name {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem); 
  }
  .nav__img {
    display: none;
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: var(--normal-font-size);
  }
  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 550px) {
  .Profile {
    display: none !important;
  }
}
@media screen and (max-width: 766px) {
  .Profile {
    display: none !important;
  }

  .icons {
    display: flex;
    align-items: center;
  }
}

/*=============== Home ===============*/
#home .title {
  text-align: center;
  margin-top: 10%;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_text {
  position: relative;
}

#home .title h1 {
  font-size: 3.5rem; 
  font-weight: bold;
  padding-bottom: 25px;
  line-height: 1.2;
  color: black;
}

#home .title h1 span {
  color: #141caf;
}

#home .title img {
  max-width: 80%; 
  height: auto; 
  position: absolute;
  z-index: -1;
  top: 86px;
  right: -60px;
}

#home .title p {
  color: #6b6b6b;
  font-size: 1.4rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}
#home .search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
  box-sizing: border-box;
}

#home .search-group {
  display: flex;
  flex-direction: column;
}

#home .search {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px 0 0 10px;
  padding-right: 10px;
  width: 100%;
  box-sizing: border-box;
}

#home .search i {
  color: #828282;
  font-size: 17px;
  margin-left: 10px;
}

#home .search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
}

#home .search-dropdown {
  border: 1px solid #cccccc;
  border-radius: 0 10px 10px 0;
  outline: none;
  padding: 15px;
  font-size: 16px;
  width: 100%;
}

#home .search-button {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #141caf;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  margin-left: 10px;
  box-sizing: border-box;
}

#home .search-button:hover {
  border: 1px solid #141caf;
  background-color: transparent;
  color: #141caf;
}

/* Media query for devices wider than 780px */
@media (min-width: 700px) {
  #home .search-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #home .search-group {
    flex-direction: row;
    width: auto;
    
  }

  #home .search,
  #home .search-dropdown {
    width: auto;
  }

  #home .search-button {
    margin-top: 0;
  
    width: auto;
   
    margin-left: 10px;
    
  }
}

@media (max-width: 700px) {
  #home .search {
    margin-bottom: 10px;
  }

  #home .search-button {
    width: 50%;
  }
}
/* Media queries for better responsiveness */
@media (max-width: 768px) {
  #home .title h1 {
    font-size: 2rem; 
  }

  #home .title img {
    max-width: 90%; 
  }

  #home .title p {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  #home .title h1 {
    font-size: 1.5rem; 
  }

  #home .title img {
  }

  #home .title p {
    font-size: 0.9rem; 
  }
}

/* section Map */
.palestine {
  align-items: center;
  margin-left: 26px;
}
.palestine .map_info {
  width: 35%;
  padding-top: 2%;
}

.palestine .map_info .info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.palestine .map_info .info .green_sq {
  width: 20px;
  height: 20px;
  background-color: lightgreen;
  margin-right: 10px;
}

.palestine .map_info .info .red_sq {
  width: 20px;
  height: 20px;
  background-color: red;
  margin-right: 10px;
}

.palestine .map_info .info .red_circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 10px;
}

@media (min-width: 1000px) {
  .palestine {
    transform: translateY(40%);
  }
}

.center_map {
  position: relative;
  display: flex;
  justify-content: center;
}

.Map_svg {
  width: 100%;
  height: 800px;
  display: flex;
  position: relative;
}
/* .move{
  transform: rotateZ(39.3deg)!important;
} */
.popup{
  transform: rotateZ(0deg);
}
.gaza_strip {
  position: absolute;
}
.Map_svg svg {
  width: 80%;
  height: 100%;
}

.section_map {
  bottom: 125px;
  position: relative;
  width: 100%;
}
.center_img {
  display: flex;
  justify-content: center;
}

.rafah {
  position: absolute;
  left: 13%;
  bottom: 10%;
}

.camp1,
.camp2,
.camp5,
.camp4 {
  cursor: pointer;
}
.camp1 {
  transform: translate(0, 140px);
}

.Khan_younes {
  position: absolute;
  left: 24%;
  bottom: 20%;
}

.Dair {
  position: absolute;
  left: 40%;
  top: 42%;
}

.dair_camps {
  width: 100%;
  height: 100px;
  top: -25px;
  position: absolute;
}

.dair_camp1 {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
}

.dair_camp2 {
  position: absolute;
  top: 60%;
  left: 100%;
  cursor: pointer;
}

.dair_camp3 {
  position: absolute;
  top: 24%;
  left: 110%;
  cursor: pointer;
}

.gaza {
  position: absolute;
  right: 30%;
  top: 30%;
  transform: translateY(-30px);
}

.north_gaza {
  position: absolute;
  right: 15%;
  top: 0%;
}

.rotations {
  margin: 5px 0;
  position: relative;
}

.center_map h1 {
  font-size: 1.1rem;
  transition: 0.3s;
}

.center_map img {
  width: 20px;
}
path {
  position: relative;
}

/*************************** PopUp****************** */
.pop_up {
  position: relative;
  width: 100%;
  z-index: -1;
}

.statistics {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

/* ***********************slide (Path) Maps**************************************** */
.slide {
  position: fixed;
  top: 0;
  left: -100%;
  width: 40%;
  height: 100%;
  background-color: #f0f0f0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s ease;
  z-index: 1000;
  border-radius: 0 10px 10px 0;
}

.slide.active {
  left: 0;
}

.error {
  position: absolute;
  top: 7px;
  right: 13px;
  font-size: 20px;
  color: #000000;
  cursor: pointer;
}
#icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
  font-size: 15px;
  color: #000000;
  line-height: 1;
  text-align: center;
}

path {
  transition: stroke 0.2s ease;
}

/* ***********************Pop Up Maps**************************************** */

.popup,
.popup2 {
  display: none;
  width: 360px;
  height: 150px;
  position: absolute;
  border: 1px solid #d6cece;
  background-color: #f0f0f0;
  z-index: 10;
  border-radius: 10px 10px;
  left: 50%;
  top: 40%;
  padding: 10px 10px;
}

.popup3 {
  left: -58% !important;
  top: 42% !important;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.data_content {
  display: block;
  text-align: start;
}
.num {
  margin: 10px 0;
}
.content-item {
  gap: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.circular-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: 5px;
}

.section_map .divider {
  transform: rotateZ(90deg);
  width: 20%;
  margin-left: 10px;
}

.pop_up .statistics p {
  margin: 10px 0;
}





@media (min-width: 600px) {
  .statistics {
    display:block;
    margin-top:50px;
  }
  .custom {
    margin: 30px 0 0 0;}
}
@media (min-width: 700px) {
  .statistics {
    display:flex;
    margin-top:0px;
  }
 
}

@media (max-width: 540px) {
  .palestine {
    margin-top: 20px !important;
}
.custom {
  margin: 0px 0 0 0;
}
  .section_map {
    bottom: auto;}
  #home .search {
    border-radius: 10px;
  }
  .app_flex {
    display: flex;
    align-items: center;
  }
  .pop_up {
    bottom: -28%;
  }

  .center_map {
    width: 118%;
    transform: rotateZ(-40deg);
    top: -190px;
    left: 2%;
  }

  .statistics {
    display: block;
    margin-top: -42px;
  }

  .water_req {
    margin-top: 50px;
    margin-bottom: 120px;
  }
  .camps_info {
    margin-bottom: 50px;
  }
  .water_req img {
    width: 9%;
  }
  .custom {
    width: 10%;
  }

  .popup {
    display: none;
    width: 201px;
    height: 210px;
    position: absolute;
    border: 1px solid #d6cece;
    background-color: #ffffff;
    z-index: 10;
    border-radius: 10px 10px;
    left: -100%;
    top: 221%;
    padding: 10px 10px;
  }

  .content-section {
    display: block;
  }
}

.total_num {
  font-size: 1.4rem !important;
  margin-top: 15px;
  color: black;
}

.total {
  font-size: 0.8rem !important;
}

.pop-up img {
  margin: 10px 0;
}

.water_req {
  transform: translateY(-14px);
}

@media (max-width: 2560px) {
  .camp1 {
    transform: translate(0, 184px);
  }

  .dair_camp3 {
    top: 55%;
    left: 146%;
  }
  .dair_camp2 {
    top: 76%;
    left: 107%;
  }
}

@media (max-width: 1290px) {
  .camp5 {
    transform: translateY(-33px);
  }
  .camp4 {
    transform: translateY(-36px);
  }
  .dair_camp3 {
    top: 64%;
    left: 146%;
  }
  .dair_camp2 {
    top: 90%;
  }
  .camp1 {
    transform: translate(0, 167px);
  }
  .north_gaza {
    right: 15%;
    top: 3%;
  }
  #popup7 {
    left: -141% !important;
    top: 459% !important;
  }
  .dair_camp3 {
    top: 60%;
    left: 147%;
  }
}

@media (min-width: 200px) {
  #Member1 {
    transform: translate(14px, 24px);
  }
}

@media (min-width: 608px) {
  /* #Member1 {
      transform: translate(14px, 61px);
  } */
  #Member1 {
    transform: translate(14px, 150px);
  }
}
@media (min-width: 860px) {
  #popup6 {
    left: -347% !important;
    top: 42% !important;
  }
}

@media (min-width: 400px) {
  #Member1 {
    transform: translate(27px, 62px);
  }
}

@media (min-width: 600px) {
  #Member1 {
    transform: translate(62px, 43px);
  }
}
@media (min-width: 1000px) {
  #Member1 {
    transform: translate(63px, 113px);
  }
}

@media (min-width: 1200px) {
  .dair_camp3 {
    top: 56% !important;
    left: 133% !important;
}
.dair_camp2 {
  position: absolute;
  top: 79% !important;
  left: 102% !important;
}

}

@media (min-width: 900px) {
  .center_map img {
    width: 30px;
  }
}
@media (min-width: 541px) {
  .center_map {
    transform: translateY(-150px);
  }
  .pop_up {
    transform: translateY(-270px) !important ;
  }
}

@media (max-width: 1024px) {
  .camp1 {
    transform: translate(0, 149px);
  }

  #popup7 {
    left: -163% !important;
    top: 510% !important;
  }
}

.dair_camp3 {
  top: 52%;
  left: 117%;
}
.dair_camp1 {
  top: 0%;
  right: 37%;
}
.dair_camp2 {
  position: absolute;
  top: 60%;
  left: 84%;
}

@media (max-width: 912px) {
  .camp1 {
    transform: translate(0, 133px);
}
  .dair_camp1 {
    right: 39%;
  }
  .dair_camp2 {
    top: 60%;
    left: 86%;
  }
  .dair_camp3 {
    top: 52%;
    left: 107%;
  }
}
@media (max-width: 820px) {
  .dair_camp1 {
    position: absolute;
    top: 2%;
    right: 43%;
  }
  .dair_camp1 {
    position: absolute;
    top: 2%;
    right: 43%;
  }
  .dair_camp3 {
    top: 47%;
    left: 94%;
  }

  .dair_camp2 {
    position: absolute;
    top: 61%;
    left: 75%;
    cursor: pointer;
  }
  .camp1 {
    transform: translate(0, 114px);
  }
  #popup7 {
    left: -186% !important;
    top: 374% !important;
  }
}

@media (min-width: 712px) {
  .statistics {
    width: 50%;
    left: 40%;
    position: absolute;
  }
  .pop_up {
    bottom: 25%;
    left: 0%;
    transform: translateY(-132px);
  }
}

/* app */


@media (max-width: 768px) {
  .dair_camp2 {
    position: absolute;
    top: 57% !important;
    left: 105% !important;
}
  
  .dair_camp1 {
    position: absolute;
    top: 2%;
    right: 43%;
  }
  .dair_camp3 {
    top: 47%;
    left: 119%;
  }
  .dair_camp1 {
    position: absolute;
    top: 8%;
    right: 25%;
  }
  .dair_camp3 {
    top: 42%;
    left: 122%;
  }
  #popup6 {
    left: -307% !important;
    top: 70% !important;
  }
}
@media (max-width: 853px) {
  .dair_camp3 {
    top: 47%;
    left: 103%;
  }
}

@media (max-width: 800px) {
  #home .title img {
    max-width: 80%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 53px;
    right: 5px;
}
.palestine {
  margin-top: 131px;}
  .Dair {
    position: absolute;
    left: 35%;
    top: 42%;
  }

  .dair_camp3 {
    top: 40%;
    left: 128%;
  }
  .camp1 {
    transform: translate(0, 126px);
  }
  .dair_camp2 {
    position: absolute;
    top: 64%;
    left: 105%;
  }
  .dair_camp1 {
    position: absolute;
    top: 5%;
    right: -2%;
  }

  #popup6 {
    left: -58% !important;
    top: 122% !important;
  }
}

@media (max-width: 768px) {
  .Map_svg {
    width: 100%;
    height: 500px;
    display: flex;
    position: relative;
  }
  .camp4 {
    transform: translate(-8px, -27px);
}
  #popup6 {
    left: -118% !important;
    top: 122% !important;
  }
}

@media (max-width: 712px) {
  .dair_camp2 {
    top: 50%;
    left: 82%;
  }

  .camp1 {
    transform: translate(-5px, 110px);
  }

  .camp2 {
    transform: translateX(30px);
  }
  .dair_camp3 {
    top: 43%;
    left: 108%;
  }
  .dair_camp1 {
    right: 45%;
  }

  #popup6 {
    left: -113% !important;
    top: 122% !important;
  }
}

@media only screen and (max-width: 700px) {
  #home .search {
    border-radius: 10px 10px;
  }
  #home .search-dropdown {
    border: 1px solid #cccccc;
    border-radius: 10px 10px;
  }
}

@media (max-width: 650px) {
  .camp1 {
    transform: translate(3px, 95px);
  }

  .dair_camp2 {
    top: 50%;
    left: 69%;
  }

  .dair_camp3 {
    top: 39%;
    left: 87%;
  }

  .Dair {
    left: 38%;
  }

  #home .search-button {
    margin: 28px 25%;
    width: 50%;
  }
  #home .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 69%;
  }
  #home .search-dropdown {
    border-radius: 10px 10px;
    outline: none;
  }
}

.circular-image {
  width: 30px !important;
  height: 30px;
}

@media (max-width: 600px) {
  #Member1 {
    transform: translate(31px, 70px);
  }

  .slide {
    width: 75%;
  }
  .dair_camps {
    left: 8%;
  }

  .Dair {
    left: 32%;
    top: 40%;
  }
  .dair_camp1 {
    right: 17%;
    top: 14%;
}
  .dair_camp2 {
    top: 48%;
    left: 82%;
  }

  .gaza {
    right: 27%;
    top: 29%;
}
.camp2 {
  transform: translate(10px, -1px);
}
.camp5 {
  transform: translateY(-8px);
}
.palestineImg{
  width: 18%;
}
.text{
  font-size: 13px;
}
.palestine{
  margin-top: 65px;
}
#popup6 {
  left: -233% !important;
  top: 109% !important;
}
#popup7 {
  left: -275% !important;
  top: 374% !important;
}
  .north_gaza {
    position: absolute;
    right: 8%;
    top: -6%;
  }
  .camp1 {
    transform: translate(-24px, 102px);
  }
  .dair_camp3 {
    top: 39%;
    left: 100%;
}
  
  .custom {
    margin: 38px 0 0 0;}
}




@media (max-width: 540px) {
  .palestineImg {
    width: 25%;
  }

  .text {
    font-size: 10px;
  }

  #home .search-dropdown {
    width: auto;
  }

  #home .search-button {
    margin: 0px 3%;
    width: 50%;
  }

  #home .search-dropdown {
    border-radius: 10px 10px;
  }
  #home .title img {
    display: none;
  }
  #popup1,
  #popup3,
  #popup2,
  #popup4,
  #popup5,
  #popup6,
  #popup7 {
    /* transform: rotateZ(39.3deg); */
    z-index: 999;
  }

  .move {
    transform: rotateZ(39.3deg) !important;
}

  #popup6 {
    left: -250% !important;
    top: 84% !important;
  }
  .gaza {
    right: 26%;
    top: 33%;
  }
  .north_gaza {
    position: absolute;
    right: 8%;
    top: -6%;
  }
  .camp2 {
    transform: translate(6px, -11px);
  }
  .dair_camps {
    top: -20px;
  }

  .dair_camp2 {
    top: 7%;
    left: 90%;
}
  .dair_camp3 {
    top: -16%;
    left: 92%;
}
  .camp5 {
    transform: translateY(1px);
  }
  #popup2 {
    top: 64%;
  }
  #popup1 {
    left: -285%;
  }
  .section_map .divider {
    transform: rotateZ(0deg);
    width: 100%;
    margin-left: 10px;
  }
  .pop_up img {
    border: solid 1px #0000003b;
    padding: 5px;
    width: 40px;
    height: 40px;

    border-radius: 10px;
  }
  .pop_up .water_req img {
    width: 40px;
    height: 40px;
  }
  .pop_up h1 {
    font-size: 22px !important;
  }
  #Member1 {
    transform: translate(81px, 47px);
}
.camp1 {
  transform: translate(32px, 122px);
}
.camp2 {
  transform: translate(-35px, -31px);
}
.dair_camp1 {
  right: 32%;
  top: -10%;
}
.camp5 {
  transform: translate(-22px);
}
.rafah {
  left: 15%;
}
#popup6 {
  left: -179% !important;
  top: -7% !important;
}
#popup7 {
  left: -82% !important;
  top: 424% !important;
}
}




@media (max-width: 530px) {
  .center_map h1 {
    font-size: 0.8rem;
  }

  .center_map img {
    width: 20px;
  }

  .Map_svg svg {
    width: 100%;
  }

  .rafah {
    left: 5%;
  }

  .Khan_younes {
    position: absolute;
    left: 19%;
    bottom: 25%;
  }
  .camp5 {
    transform: translateX(-10px);
  }
  .dair_camp3 {
    transform: translateY(14px);
  }
  .camp1 {
    transform: translate(-17px, 87px);
  }
}

@media (max-width: 530px) {
  .camp1 {
    transform: translate(4px, 122px);
  }
  .dair_camp3 {
    top: 33%;
    left: 123%;
  }
  .dair_camp2 {
    top: 55%;
    left: 97%;
  }

  .dair_camp1 {
    right: 20%;
    top: 13%;
  }
}
@media (max-width: 480px) {
  #Member1 {
    transform: translate(23px, 47px);
}
  .dair_camp2 {
    top: -17%;
    left: 125%;
}
.dair_camp3 {
  top: -8%;
  left: 116%;
}
.dair_camp1 {
  right: 20%;
  top: -10%;
}
  .camp1 {
    transform: translate(-17px, 113px);
  }
  .camp2 {
    transform: translate(-20px, -49px);
}
  .north_gaza {
    position: absolute;
    right: -5%;
    top: 6%;
  }
}

@media (max-width: 430px) {
  .dair_camp2 {
    top: 48%;
    left: 122%;
  }
  .dair_camp2 {
    top: -2%;
    left: 122%;
}
  .dair_camps {
    left: -9%;
    top: -29px;
  }
  .dair_camp3 {
    top: 7%;
    left: 117%;
}
  .camp1 {
    transform: translate(-18px, 100px);
  }
  .camp2 {
    transform: translate(-22px, -41px);
}
}

@media (max-width: 414px) {
  .camp1 {
    transform: translate(-17px, 95px);
  }
  .dair_camp2 {
    top: 44%;
    left: 115%;
  }
  .dair_camp3 {
    top: 35%;
    left: 88%;
  }
  .camp2 {
    transform: translate(12px, -3px);
  }
  .north_gaza {
    position: absolute;
    right: 0%;
    top: -5%;
  }
  .dair_camps {
    left: -7%;
  }
  .dair_camp1 {
    top: 12%;
  }
}
@media (max-width: 414px) {
  #Member1 {
    transform: translate(69px, 42px);
}
.camp1 {
  transform: translate(33px, 109px);
}
.camp2 {
  transform: translate(-15px, -41px);
}
.dair_camp2 {
  top: -1%;
  left: 119%;
}
.dair_camp3 {
  top: 4%;
  left: 113%;
}
.popup {
  top:17px;
}
#popup6 {
  left: -205% !important;
  top: -61% !important;
}
#popup7 {
  left: -144% !important;
  top: 470% !important;
}


}
@media (max-width: 412px) {
  .dair_camp2 {
    position: absolute;
    top: -6% !important;
    left: 95% !important;
}
.camp4 {
  transform: translate(-8px, -9px);
}


  @media (min-width: 280px) {
    #Member1 {
      transform: translate(30px, 27px);
    }
  }


  .camp1 {
    transform: translate(10px, 93px);
  }
  .north_gaza {
    position: absolute;
    right: -4%;
    top: 0%;
  }
  .camp1 {
    transform: translate(2px, 98px);
}
.camp2 {
  transform: translate(-20px, -44px);
}
  .Dair {
    left: 33%;
    top: 41%;
  }
  .dair_camps {
    left: 11%;
    top: -22px;
  }
  .dair_camp2 {
    top: -5%;
    left: 93%;
}
.dair_camp3 {
  top: -1%;
  left: 88%;
}
.dair_camp1 {
  top: -10%;
  right: 37%;
}
}

@media (max-width: 393px) {
  .dair_camps {
    left: 11%;
    top: -24px;
  }
}
@media (max-width: 390px) {
  .dair_camps {
    left: 2%;
    top: -26px;
  }

  #home .search-group {
    width: auto;
  }
  .dair_camp1 {
    top: 7%;
  }
}

@media (max-width: 384px) {
  .gaza {
    right: 22%;
    top: 28%;
}
  .dair_camp1 {
    top: 8%;
    right: 40%;
}
  .dair_camp2 {
    top: 4%;
    left: 91%;
}
.dair_camp3 {
  top: 3%;
  left: 79%;
}
  .camp1 {
        transform: translate(7px, 91px);
  }
  .camp2 {
    transform: translate(-17px, -22px);
}
  #popup1 {
    top: 27px;
    left: -286%;
}
}

@media (max-width: 375px) {
  .camp4 {
    transform: translate(-19px, 25px);
  }
  .camp2 {
    transform: translate(-15px, -15px);
    }
    .camp1 {
      transform: translate(7px, 91px);
  }
}

@media (max-width: 360px) {

  .rafah {
    left: 8%;
}

  .gaza {
    right: 21%;
    top: 26%;
  }
  .dair_camps {
    top: -59px;
    left: -17%;
   }
   .dair_camp1 {
    left: 40px;
    top: 34%;
}
  .dair_camp2 {
    top: 38%;
    left: 107%;
  }
  .dair_camp3 {
    top: 33px;
    transform: translateY(14px);
}
.camp1 {
  transform: translate(5px, 90px);
}
.popup3 {
  left: -16% !important;
  top: 53% !important;
}
.camp5 {
  transform: translate(-30px, 3px);
}

#popup1 {
  top: 20px;
  left: -286%;
}
#popup2 {
  top: 157%;
}
#popup6 {
  left: -185% !important;
  top: 40% !important;
}
#popup7 {
  top: 400% !important;
}

  #home .search-dropdown {
    border: 1px solid #cccccc;
    border-radius: 10px 10px !important;
    outline: none;
    padding: 15px;
    /* font-size: 16px; */
    width: 100%;
  }
  .app_flex {
    display: block;
    align-items: center;
  }
  #home .search-button {
    margin: 28px 25%;
    width: 50%;
  }
  #home .search-button {
    padding: 15px 5px;
  }

  #home .search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    width: 100%;
  }
}

@media (max-width: 344px) {
  .nav__link {
    display: flex;
    margin: 0 13px;
  }
  .north_gaza {
    position: absolute;
    right: -7%;
  }
  .camp1 {
    transform: translate(18px, 88px);
}
.camp2 {
  transform: translate(-12px, -8px);
}
  .dair_camps {
    left: -6%;
  }
  .dair_camp2 {
    top: 33%;
    left: 85%;
}
#Member1 {
  transform: translate(44px, 32px);
}

  .north_gaza {
    right: -4%;
    top: -5%;
  }
  .palestine .map_info {
    font-size: 13px;
  }
}

@media (max-width: 320px) {
  .center_map {
    left: 4%;
}
.palestine {
  margin-left: 19px;
}
  .rafah {
    bottom: 22px;
    left: 8%;
}

  .dair_camp1 {
    right: 27%;
    top: 3%;
  }
  .dair_camp3 {
    top: 4px;
    left: 80%;
}

  .Dair {
    left: 31%;
  }
  .dair_camp2 {
    top: 4%;
    left: 88% !important;
  }
  .camp1 {
    transform: translate(22px, 81px);
}
.camp2 {
  transform: translate(-14px, -13px);
}

  .camp4 {
    transform: translate(-19px, 25px);
  }
  .camp5 {
    transform: translate(-31px, 9px);
  }
  #popup7 {
    left: -157% !important;
    top: 365% !important;
  }
  .dair_camps {
    left: -7%;
    top: -27px;
  }
}

@media (max-width: 240px) {
  .center_map img {
    width: 10px;
  }
  .camp1 {
    transform: translate(14px, 110px);
}
  .center_map h1 {
    font-size: 0.5rem;
  }
  .logo img {
    width: 40px;
  }
  .icons img {
    width: 32px;
    height: 32px;
  }
  .notification-icon {
    font-size: 14px;
  }
  .app_flex {
    display: block;
  }
  #home .search-button {
    width: 70%;
    margin: 10px 0px 0px 21px;
}
    .text {
        font-size: 7px;
    }
    .palestine .map_info .info .red_sq {
      width: 10px;
      height: 10px;
      background-color: red;
      margin-right: 10px;
  }
  .palestine .map_info .info .green_sq {
    width: 10px;
    height: 10px
  }
  .palestine .map_info .info .red_circle {


    margin-right: 0px}
    .center_map {
      width: 118%;
      transform: rotateZ(-40deg);
      top: -132px;
      left: 2%;
  }

  .north_gaza {
    position: absolute;
    top: -20%;
    right: -13%;
}

.camp2 {
  transform: translate(-16px, -7px);
}


  #home .search-dropdown {
    border: 1px solid #cccccc;
    border-radius: 10px 10px;
    outline: none;
    padding: 15px;
    width: 100%;
    /* font-size: 16px; */
  }
  #home .search-input {
    flex: 0;
  }

  #home .search {
    display: block;
  }
  #home .search i {
    display: none;
  }
  #home .search-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dair_camp2 {
    left: 110% !important;
    top: 8%;
}
.dair_camp3 {
  top: 6px;
  left: 103%;
}
.dair_camp1 {
  left: 30px;
  top: 7%;
}

.camp4 {
  transform: translate(-19px, 19px);
}
.camp5 {
  transform: translateX(-20px);
}
#popup2 {
  left: auto;
  top: 152%;
}
.popup {
  display: none;
  width: 163px;
  height: 189px;}
  .popup3 {
    left: -92% !important;
    top: 53% !important;
}
#popup6 {
  left: -286% !important;
  top: 40% !important;
}
#popup7 {
  left: -277% !important;
  top: 365% !important;
}

}

